@import "../node_modules/bootstrap/scss/bootstrap";

h1{
  font-size: 20px !important;
}
.flex-container{
  display: flex !important;
  margin-left: 15px;
}
.btn{
  background-color: red !important;
  color: white !important;
  font-size: 10px;
  width: 7.3rem;
}
select{
  box-shadow: none !important;
  border-color: black !important;

}
.flex-cont-ele{
  display: flex !important;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.fa-plus{
  color:green;
  margin:5px
}
.fa-minus{
  color:red !important;
  margin:5px
}
.fa-trash{
  color:red;
  margin:5px
}
.fa-cart{
  color:#f91101;
  margin-top:0px ;
}
.contenedor{
  width: 100px;
}
.imgLogo{
  width: 80px;
  height: 80px;
}
.logoName{
  font-family: 'Style Script', cursive;  
  font-size: 35px;
  text-decoration: none;
  color: #f91101;
  font-weight: bold;
}
.totalFont{
  display: flex;
  margin-left: 500px;  
  font-size: 35px;
}
.flex-cont-carro{
  display: flex !important;
  margin-left: 75px;
}
.img-center{
  display: flex;
  align-content: center;
  margin-left: 2rem;
}